.hero_img_container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  border-radius: 25px;
}

.hero_img {
  width: 90%;
  transition: linear .3s;
  border-radius: 25px;
}

.hero_img:hover {
  transform: scale(1.05);
}

.hero_img_container a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_name {
  margin: 10px 0;
  font-family: 'Bangers', cursive;
  font-size: 35px;
  letter-spacing: 3px;
  text-align: center;
}