footer {
  padding-top: 50px;
  margin: 0 auto;
}

footer p {
  text-align: center;
}

.api_link {
  font-family: 'Bangers', cursive;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  color: gray
}